<%= simple_form_for(@job) do |f| %>
  <%= f.error_notification %>
  <div class="" role="tabpanel" data-example-id="togglable-tabs"> 
    <ul id="job-details" class="nav nav-tabs bar_tabs" role="tablist">
      <li role="presentation" class="<%= "active" if @job.new_record? %>"><a href="#tab_content1" id="settings-tab" role="tab" data-toggle="tab" aria-expanded="<%= @job.new_record? ? true : false %>">Settings</a></li>
      <li role="presentation" class="<%= "active" unless @job.new_record? %>"><a href="#tab_content2" role="tab" id="profile-tab" data-toggle="tab" aria-expanded="<%= @job.new_record? ? false : true %>">Rules</a></li>
    </ul>
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane fade <%= "active in" if @job.new_record? %>" id="tab_content1" aria-labelledby="settings-tab">
        <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="x_panel">
            <div class="x_title">
              <h2><i class="fa fa-bars"></i> Details</h2>
              <div class="clearfix"></div>
            </div>
            <div class="x_content">
              <%= f.association :user, as: :hidden %>
              <div class="form-inputs">
                <%= f.input :name %>
                <%= f.input :url %>
                <%= f.input :enabled %>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="x_panel">
            <div class="x_title">
              <h2><i class="fa fa-bars"></i> Schedule</h2>
              <div class="clearfix"></div>
            </div>
            <div class="x_content">
              <div class="form-inputs">
                <%= f.input :start_date %>
                <%= f.input :end_date %>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-12">
          <div class="x_panel">
            <div class="x_title">
              <h2><i class="fa fa-bars"></i> Configuration</h2>
              <div class="clearfix"></div>
            </div>
            <div class="x_content">
              <%= f.input :customizable %>

              <div class="form-actions" id="custom-configuration" style="display: none;">
                <%= f.fields_for :configuration, f.object.configuration do |configuration| %>
                  <%= render 'shared/configuration_fields', f: configuration %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div role="tabpanel" class="tab-pane fade <%= "active in" unless @job.new_record? %>" id="tab_content2" aria-labelledby="profile-tab">
        <div class="col-xs-6">
          <div class="x_panel">
            <div class="x_title">
              <h2><i class="fa fa-bars"></i> Active Rules</h2>
              <div class="clearfix"></div>
            </div>
            <div class="x_content">
              <div class="form-actions" id="rules">
                <% @job.steps.each_with_index do |step, index| %>
                  <p>Step <%= index %></p>
                  <ol class="sortable connectedList" data-step="<%= step.id %>">
                    <% step.rules.each do |rule| %>
                      <%= rule_list_with_children(rule).html_safe %>
                    <% end %>
                  </ol>
                <% end %>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-6">
          <div class="x_panel">
            <div class="x_title">
              <h2><i class="fa fa-bars"></i> Available Rules</h2>
              <div class="clearfix"></div>
            </div>
            <div class="x_content">
              <div class="form-actions" id="rules">
                <% @atoms.group_by{|id, rule| rule.class.type}.each do |group, rules| %> 
                  <h4><%= group %></h4>
                  <ul class="draggable connectedList to_do">
                  <% rules.each do |atom, rule| %>
                    <li data-id="<%= atom.id %>" class="available-rule bg-<%= class_by_atom(rule.class.type) %> <%= rule.custom_css_class %>">
                      <!-- replace with single atom template -->
                      <div>
                        <p><%= atom.name %></p>
                        <div class="template collapse">
                          <ol>
                            <li class='selected-rule bg-<%= class_by_atom(atom.class_name.constantize.type) %> <%= atom.class_name.constantize.new.custom_css_class %>' data-id='<%= atom.id %>'>
                              <div>
                                <%= atom.name %>
                                <%= rule.accessible_options %>
                                <input type="text" name="as">
                              </div>
                            </li>
                          </ol>
                        </div>
                      </div>
                    </li>
                  <% end %>
                  </ul>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <%= f.button :submit, class: 'btn btn-primary pull-right' %>
  </div>


<% end %>
