<div class="nested-fields">
  <%= f.input :track_job_results, as: :boolean %>
  <%= f.input :track_job_status, as: :boolean %>
  <%= f.input :job_method %>
  <%= f.input :preliminary_header_check, as: :boolean %>
  <%= f.input :job_notification, as: :boolean %>
  <%= f.input :job_notification_method %>  
</div>
