<div class="nested-fields">
  <%= f.input :track_job_results, as: :boolean, input_html: { class: 'configuration-field flat' }, wrapper_html: { class: "checkbox" } %>
  <%= f.input :track_job_status, as: :boolean, input_html: { class: 'configuration-field flat' }, wrapper_html: { class: "checkbox" } %>
  <%= f.input :job_method, input_html: { class: 'configuration-field' } %>
  <%= f.input :preliminary_header_check, as: :boolean, input_html: { class: 'configuration-field flat' }, wrapper_html: { class: "checkbox" } %>
  <%= f.input :job_notification, as: :boolean, input_html: { class: 'configuration-field flat' }, wrapper_html: { class: "checkbox" } %>
  <%= f.input :notify_job_results, as: :boolean, input_html: { class: 'configuration-field flat' }, wrapper_html: { class: "checkbox" } %>
  <%= f.input :notify_job_status, as: :boolean, input_html: { class: 'configuration-field flat' }, wrapper_html: { class: "checkbox" } %>
  <%= f.input :job_notification_method, input_html: { class: 'configuration-field' } %>  
</div>
