<!DOCTYPE html>
<html>

<head>
  <title>Magpie</title>
  <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
</head>

<body>
    <!-- Static navbar -->
  <%= render partial: "shared/menu" %>
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <p class="notice">
          <%= notice %>
        </p>
        <p class="alert">
          <%= alert %>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <%= yield %>
      </div>
    </div>
    <footer>
      <p>&copy; Company 2017</p>
    </footer>

  </div>
  
  <%= javascript_include_tag 'application' %>
</body>
</html>
