<!DOCTYPE html>
<html>
  <head>
    <title>Magpie</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'homepage', media: 'all' %>
  </head>

  <body>
    <%= render partial: "shared/menu" %>
    <div class="site-wrapper">
      <%= render partial: "shared/flashes" %>
      <%= yield %>
    </div>

    <footer>
      <p>&copy; Magpie 2017</p>
    </footer>

    <%= javascript_include_tag 'homepage' %>
  </body>
</html>
